.register-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}

.register-banner {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-container);
    padding: 0 2rem;
}

.register-banner-image {
    max-width: 80%;
    height: auto;
}

.register-form-container {
    flex: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    padding: 2rem;
}

.register-form-box {
    flex: 1;
    width: 100%;
    padding: 2rem;
    background-color: #fff;
    color: var(--primary-text);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.register-title {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
}

.register-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 1rem;
}

.form-input {
    width: 100%;
    padding: 1rem;
    color: var(--primary-text);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

.register-button {
    padding: 0.75rem;
    font-size: 1rem;
    background-color: var(--primary-btn);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.register-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 1rem;
}

.success-message {
    color: green;
    text-align: center;
    margin-top: 1rem;
}

@media only screen and (max-width: 600px){
    .register-container{
        display: flex;
        flex-direction: column;
    }
}