.register-redirect {
    width: 100%;
    height: 100%;
    padding: 5rem;
    background-color: var(--bg-container);
    justify-items: center;
    align-content: center;
    color: #fafafa;
}

.login-auth {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f0f0f0;
    background-position: center;
    background-size: cover;
    color: #322D3F;
    width: 100%;
    height: 100%;
}

.form-log-container {
    display: grid;
    gap: 1.5rem;
    padding: 4rem;
    background-color: #fff;
    color: var(--primary-text);
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.form-log-components input {
    width: 100%;
    padding: 1rem;
    color: var(--primary-text);
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
}

@media only screen and (max-width: 600px){
    .register-container{
        flex-direction: column;
        height: 100%;
    }
}