* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f7f7f7;
    justify-content: center;
    align-items: center;

    color: #4A4A4A;
}


.agenda-main {
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    padding: 40px;
    text-align: center;
    position: relative;
}


#agenda-title {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 40px;
    font-weight: 700;
    letter-spacing: 0.5px;
}


#agenda-selector {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 30px;
}


.agenda-box {
    width: 48%; 
    padding: 30px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    text-align: center;
    border: 2px solid #e0e0e0;
    margin-bottom: 20px;
}

.agenda-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.agenda-box:focus-within {
    outline: none;
    border: 2px solid #4CAF50;
}

.agenda-subtitle {
    margin-top: 20px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333;
}

/* Efeito de caixa selecionada */
.box-contrast {
    border-color: #4CAF50;
    background-color: #f1f8f3;
    transform: translateY(-5px);
}

.subtitle-contrast {
    color: #4CAF50;
}

/* Efeito de desfoque nas caixas não selecionadas */
.agenda-box-blur {
    opacity: 0.6;
}

/* Estilos do botão de prosseguir */
#agenda-btn-side {
    margin-top: 40px;
}

#btn-agenda {
    background-color: #4CAF50;
    color: white;
    padding: 15px 30px;
    font-size: 1.1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 100%;
    max-width: 300px;
    transition: all 0.3s ease;
    font-weight: 600;
}

#btn-agenda:hover {
    background-color: #45a049;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-disabled {
    background-color: #e0e0e0;
    cursor: not-allowed;
}


select, input[type="radio"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem; 
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-top: 10px;
    background-color: #f9f9f9;
    color: #333;
}

select {
    background-color: #f3f3f3;
}

input[type="radio"] {
    width: auto;
    margin-right: 8px;
}

label {
    font-size: 1rem; 
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    display: block;
}

/* Responsividade */
@media (max-width: 768px) {
    #agenda-selector {
        flex-direction: column;
        align-items: center;
    }

    .agenda-box {
        width: 100%; /* Faz os cards ocuparem toda a largura no celular */
    }
}

@media (max-width: 480px) {
    #agenda-title {
        font-size: 2rem;
    }

    .agenda-box {
        width: 100%; 
    }
}