
#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 1rem;
    padding: 2rem;
}

.banner-text {
    display: flex;
    width: 40%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: #322D3F;
    text-align: left;
    overflow-wrap: break-word;
}


.banner-text h1 {
    font-size: 5rem;
}

.banner-text p {
    font-size: 1.5rem;
    color: #322D3F;
}

.btnAjuda{
    padding: 1.5rem 3rem;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    background-color: #232E9D;
    transition: color 0.3s ease, transform 0.2s ease;
}

.btnAjuda:hover {
    color: #fff;
    background-color: #1c237b;
    border-color: #1c237b;
    transform: scale(1.05);
}

@media only screen and (max-width: 600px){
    .banner{
        flex-direction: column;
        width: 100%;
    }

    .banner-text{
        width: 100%;
        padding: 1rem;
    }

    .banner img{
        width: 100%;
    }
}
