footer {
    background-color: #9D48D6;
    padding: 1.5rem;
}

.main-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer img {
    height: 4rem;
    width: auto;
}

hr {
    width: 100%;
    justify-self: center;
    margin: 0.5rem;
}

.sub-footer {
    text-align: center;
    padding: 1rem;
}

/* Logo */

.svg-footer {
    height: 4rem;
    width: auto;
}

/* Mapa do Site */

.site-map ul {
    list-style-type: none;
    text-align: left;
}
  
.site-map a {
    color: #ffff;
    font-size: 1rem;
    font-weight: 300;
    width: 100%;
    height: 100%;
}

.site-map a:hover {
    color: #53E0D0;
}

/* Redes Sociais */

.social-media {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
}

.social-media a {
    text-align: center;
    padding: 0.5rem; 
}