.form-style {
    padding: 2rem;
    color: #000;
    background-color: #FFF;
}

.line-side {
    display: flex;
    text-align: left;
    margin-block: 2rem;
}

.form-line {
    border: 1px solid rgba(0, 0, 0, 0.5);
    max-width: 50%;
}

.personal,
.formation-courses,
.service,
.free-service {
    display: flex;
    flex-wrap: wrap;
}

.formation-courses,
.service {
    align-items: center;
}

.service {
    gap: 3rem;
}

.free-service {
    flex-direction: column;
}

.main-title,
.sub-title {
    display: block;
    font-weight: bold;
    margin-left: 1rem;
}

.main-title {
    font-size: 1.5rem;
}

.type-large,
.type-short,
.textarea-form {
    border-radius: 0.625rem;
    border: 1px solid #232E9D;
    background: #FFF;
    color: #000;
    padding: 0.5rem;
}

.type-large {
    width: 22rem;
    height: 2rem;
    margin: 1rem;
}

.type-short {
    width: 5rem;
    height: 2rem;
    margin: 1rem;
}

.textarea-form {
    width: 25rem;
    margin: 1rem;
}

.type-large:focus,
.type-short:focus,
.textarea-form:focus {
    background-color: #232E9D;
    color: #FFF;
    outline: none;
}

.type-large:focus::placeholder,
.type-short:focus::placeholder,
.textarea-form:focus::placeholder {
    color: #FFF
}

.fieldset-form {
    display: inline-block;
    border: none;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}

.fieldset-form legend {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.fieldset-form label {
    margin: 0.5rem;
}

.free-service {
    flex-direction: row;
    gap: 5rem;

}

.form-button {
    width: 16.875rem;
    background-color: #232E9D;
    color: #FFF;
}

.button-side {
    display: flex;
    justify-content: end;
}