#root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Indicacoes { color: #322D3F;
    background-color: #F8F8F8;
    text-align: center;
    padding: 4rem 2rem;
  }
  
  .Indicacoes-text {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .Indicacoes h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  
  .card1, .card2, .card3 {
    background-color: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
    max-width: 300px;
    display: inline-block;
    vertical-align: top;
    margin: 0 1rem;
  }
  
  .card1 h2, .card2 h4, .card3 h6 {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .card1 h3, .card2 h5, .card3 h7 {
    font-size: 1rem;
    font-weight: bold;
    color: #322D3F;
    margin-bottom: 0.5rem;
  }
  
  .card1 p, .card2 p, .card3 p {
    font-size: 1rem;
    color: #322D3F;
  }
  