.selector-main {
    background-color: #FFF;
    padding: 2rem;
}

#selector-title {
    color: #000;
    font-size: 4.3rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
    padding: 1rem;
    text-align: center;
}

#selector {
    display: flex;
    gap: 8rem;
    padding: 1rem;
    justify-content: center;
}

.selector-box {
    text-align: center;
    border-radius: 0.9375rem;
    border: 5px solid #232E9D;
    background: #F8F8FF;
}

.box-contrast {
    text-align: center;
    border-radius: 0.9375rem;
    border: 5px solid #BCFFF7;
    background: #232E9D;
    transform: translateY(-1rem);
    transition: transform .5s;
}

.selector-box-blur {
    text-align: center;
    border-radius: 0.9375rem;
    border: 5px solid #232E9D;
    background: #F8F8FF;
    filter: blur(2px);
}

.selector-img {
    height: 20rem;
    width: auto;
}

.selector-subtitle {
    color: #9D48D6;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    margin: 1rem;
}

.subtitle-contrast {
    color: #FFF;
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;  
    margin: 1rem;
}

#selector-btn-side {
    text-align: center;
}

#btn-selector {
    width: 12.3125rem;
    height: 3.25rem;
    border-radius: 0.9375rem;
    font-size: 1.2rem;
    color: #FFF;
    background: #232E9D;
    padding: 1rem;
    margin: 3rem;
}