*{
    margin: 0;
    padding: 0;
}

.register-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100vh;
}

.register-banner{
    display: flex;
    padding: 2rem;
    background-color: #9D48D6;
    align-items: center;
    justify-items: center;
}

.register-banner img{
    width: 100%;
    height: fit-content;
}

.register-log{
    background-color: #fafafa;
    color: #322D3F;
    justify-items: center;
    align-content: center;
    padding: 3rem;
}

.register-auth {
    display: flex;
    flex-direction: column;
    padding: 5rem;
    background-color: #fafafa;
    color: #322D3F;
    width: 100%;
    gap: 1rem;
    justify-content: center;
}

.form-signin{
    justify-items: center;
}

.form-signin-components {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fafafa;
    color: #322D3F;
    padding: 2rem 0;
    align-items: center;
    width: 100%;
}

.form-signin-components input {
    padding: 1.2rem;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 5px;
    background-color: #EBEBEB;
    border: none;
    width: 20rem;
    color: #322D3F;
}

.register-banner, .register-log{
    width: 100%;
}

@media only screen and (max-width: 600px){
    .register-container{
        display: flex;
        flex-direction: column;
    }
}