@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Silkscreen:wght@400;700&family=Space+Grotesk:wght@300..700&display=swap');

:root {
  font-family: 'League Spartan', system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(228, 228, 228, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bg-container: #478079;
  --main-color: #53E0D0;
  --primary-text: #322D3F;
  --primary-btn: #00207F;
}

#accent {
  color: #FFFF8C;
}

input {
  font-family: 'League Spartan', system-ui, Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #fff;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}